.container {
    width: 20rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-right: solid 1px #090909;
    padding: 15px;
}

.container  > img{
    max-width: 8rem;
    height: 4rem;
    margin: 1rem auto;
}

.tabs{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-items: flex-start;
   margin: auto 0;
}

.tab{
    display: flex;
    column-gap: .3rem;
    align-items: center;
    color: #090909;
    text-decoration: none;
    transition: all 1s ease;
}

.tab:hover{
    
    color: #0bae62;
}

.active{
    font-weight: 700 !important;
}
